@model IEnumerable<PocMvcNet8App.UserPrimaryInfo>
@inject PocMvcNet8App.Services.IImageService _imageService

@{
    ViewData["Title"] = "Index";
}

@if (!Model.Any())
{
    <div class="row mt-4 justify-content-center">
        <div class="col-12 align-self-center p-0">
            <div class="card mx-auto">
                <div class="card-body p-5">
                    <h5 class="card-title">Ready to get started?</h5>
                    <p class="card-text">Enter your information to create a new profile.</p>
                    <a asp-action="Create" class="btn btn-lg btn-primary w-100">Create</a>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container mt-5">
        <div class="row mt-4 justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col-12 align-self-center p-0">
                    <div class="card mx-auto">
                        @if (item.ImageData != null && item.ImageType != null)
                        {
                            <img class="card-img-top w-25" src="@_imageService.ConvertByteArrayToFile(item.ImageData, item.ImageType)" />
                        }
                        else
                        {
                            <p>Missing Profile Image</p>
                        }
                        <div class="card-body p-5">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.JobTitle)</h5>
                            <p class="card-text">
                                <strong class="text-primary">Age:</strong> <span class="text-secondary">@Html.DisplayFor(modelItem => item.Age)</span><br>
                                <strong class="text-primary">Name:</strong> <span class="text-secondary">@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</span><br>
                                <strong class="text-primary">Address:</strong> <span class="text-secondary">@Html.DisplayFor(modelItem => item.Address)</span><br>
                                <strong class="text-primary">Zip Code:</strong> <span class="text-secondary">@Html.DisplayFor(modelItem => item.ZipCode)</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 align-self-center p-0">
                    <a class="btn btn-lg btn-info w-100 mt-1" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-lg btn-danger w-100 mt-1" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            }
        </div>
    </div>
}

