@model PocMvcNet8App.Models.BlogPostModel
@inject PocMvcNet8App.Services.IImageService _imageService

@{
    ViewData["Title"] = "Details";
}

<div class="container">

    <div class="mb-4">
        @if (Model.ImageData != null && Model.ImageType != null)
        {
            <img src="@_imageService.ConvertByteArrayToFile(Model.ImageData, Model.ImageType)" class="card-img-top" alt="Image">
        }
    </div>

    <div>
        <h4>@Html.DisplayFor(model => model.Title)</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Content)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Content)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Author)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Author)
            </dd>
        </dl>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
