@using Microsoft.AspNetCore.Identity
@using PocMvcNet8App.Data
@model PocMvcNet8App.Models.BlogModel
@inject PocMvcNet8App.Services.IImageService _imageService
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Index";
    var latestPost = new BlogPostModel();
}

@if (Model.Posts != null && Model.Posts.Any())
{
    latestPost = Model.Posts.Last();
}

<div class="row">
    @*Featured Blog*@
    <div class="p-4 p-md-5 mb-4 text-white bg-dark">
        <div class="col-12 px-0">
            <h1 class="display-4 fst-italic">@latestPost.Title</h1>
            @* @if (latestPost.Content != null )
            {
                <p class="lead my-3">@latestPost.Content.Substring(0, 240)<span>.....</span></p>
            } *@
            <p class="lead my-3">@latestPost.Content</p>
            <a href="@Url.Action("Details", new { id = latestPost.Id })" class="btn btn-primary lead">Continue reading</a>
        </div>
    </div>


    @if (Model.Posts != null)
    {
        <div class="container">
            <div class="row">
                @foreach (var item in Model.Posts)
                {
                    <div class="col-md-4 mb-4">
                        <div class="custom-card rounded-3 shadow-lg">
                            <div class="row g-0 pt-3 pb-3">
                                <div class="col-md-6 text-center align-self-center">
                                    @if (item.ImageData != null && item.ImageType != null)
                                    {
                                        <img src="@_imageService.ConvertByteArrayToFile(item.ImageData, item.ImageType)" class="img-card w-50 rounded-3" alt="Card Image">
                                    }
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                                        @* @if (item.Content != null && item.Content.Length > 100)
                                        {
                                            <p class="card-text">@Html.Raw($"{item.Content.Substring(0, 100)}...")</p>
                                        }
                                        else
                                        {
                                            <p class="lead my-3">@Html.DisplayFor(modelItem => item.Content)</p>
                                        } *@
                                        <p class="lead my-3">@Html.DisplayFor(modelItem => item.Content)</p>
                                        <p class="card-text"><small>@item.Author</small></p>
                                        <p class="card-text m-0"><small class="text-muted">@Html.DisplayFor(modelItem => item.CreatedDate.Year)</small></p>
                                        <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-primary">Read</a>
                                        @if (SignInManager.IsSignedIn(User))
                                        {
                                            @if (Model.users != null)
                                            {
                                                @foreach (var user in Model.users)
                                                {
                                                    if (user.UserId == item.UserId)
                                                    {
                                                        <a asp-controller="BlogPost" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-danger">Edit</a>
                                                    }
                                                }
                                            }      
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    }
</div>
